## HTTPS -----------------------------------------------------------------------

Listen 443

SSLCipherSuite HIGH:MEDIUM:!MD5:!RC4:!3DES
SSLProxyCipherSuite HIGH:MEDIUM:!MD5:!RC4:!3DES

SSLHonorCipherOrder on 

SSLProtocol all -SSLv3
SSLProxyProtocol all -SSLv3

SSLPassPhraseDialog  builtin

SSLSessionCache        "shmcb:/usr/local/apache2/logs/ssl_scache(512000)"
SSLSessionCacheTimeout  300

<VirtualHost *:443>
    ServerName magento2.test
    ServerAlias magento.test
    
    SetEnv MAGE_RUN_CODE "base"
    SetEnv MAGE_RUN_TYPE "website"

    DocumentRoot "/var/www/html/pub"

    <Directory "/var/www/html/pub">
        AllowOverride All
        Order Allow,Deny
        Allow from all
    </Directory>

    DirectoryIndex index.php index.html
    ProxyPassMatch ^/(.*\.php(/.*)?)$ fcgi://php:9000/var/www/html/pub/$1

    SSLEngine on
    SSLCertificateFile "/var/www/ssl/certificates/magento2.test.pem"
    SSLCertificateKeyFile "/var/www/ssl/certificates/magento2.test-key.pem"
    
    ErrorLog "logs/magento2.test-error_log"
    CustomLog "logs/magento2.test-access_log" common
</VirtualHost>
