# MagedIn - Magento DockerLab
# (https://github.com/magedin/magento-dockerlab)
version: "3.5"

services:
  jenkins:
    image: jenkins/jenkins:latest
    ports:
      - "8000:8080"
      - "51000:50000"
    # env_file: var/env/rabbitmq.env
    networks:
      - magedin
    volumes:
      - dockerlab_jenkinsdata:/var/jenkins_home
    hostname: jenkins

volumes:
  dockerlab_jenkinsdata:
