# MagedIn - Magento DockerLab
# (https://github.com/magedin/magento-dockerlab)
version: "3.5"

services:
  nginx:
    image: magedin/nginx:1.19
    user: www
    ports:
      - "80:8080"
      - "443:8443"
    links:
      - db
      - php
    environment:
      SSL_CA_DIR: /var/www/ssl/ca
      SSL_CERT_DIR: /var/www/ssl/certificates
    networks:
      - magedin
    volumes: &appvolumes
      - ~/.composer:/var/www/.composer:cached
      - appdata:/var/www/html
      - sockdata:/sock
      - ssldata:/var/www/ssl

  php:
    image: magedin/magento2-php:7.4
    user: www
    links:
      - db
    depends_on:
      - db
      - redis
      - elasticsearch
      - rabbitmq
    networks:
      - magedin
    volumes: *appvolumes

  db:
    image: percona:5.7
    command: --max_allowed_packet=64M
    ports:
      - "3306:3306"
    env_file: .env
    networks:
      - magedin
    volumes:
      - dbdata:/var/lib/mysql
      - ./var/dumps:/var/dumps

  redis:
    image: redis:5.0
    networks:
      - magedin

  elasticsearch:
    image: magedin/magento2-elasticsearch:7.6.2
    ports:
      - "9200:9200"
      - "9300:9300"
    environment:
      - "discovery.type=single-node"
    networks:
      - magedin
    volumes:
      - esdata:/usr/share/elasticsearch/data

  kibana:
    image: kibana:7.6.2
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    env_file: var/env/kibana.env
    networks:
      - magedin

  rabbitmq:
    image: magedin/rabbitmq:3.8-management
    ports:
      - "15672:15672"
      - "5672:5672"
    env_file: var/env/rabbitmq.env
    networks:
      - magedin
    volumes:
      - rabbitmqdata:/var/lib/rabbitmq
      - rabbitmqlog:/var/log/rabbitmq
    hostname: rabbitmq

  varnish:
    # image: magedin/magento2-varnish:latest
    image: varnish:6
    depends_on:
      - nginx
    ports:
      - "8080:80"
      - "4443:443"
    networks:
      - magedin
    volumes:
      - ./config/varnish/:/etc/varnish

  # Disabling cron by default as it uses higher CPU, enable if needed
  #cron:
  #  image: magedin/magento2-php:7.4
  #  user: root
  #  command: /usr/local/bin/cronstart
  #  tty: true
  #  links:
  #    - db
  #  volumes: *appvolumes

networks:
  magedin:
    name: magento_dockerlab

volumes:
  appdata:
  dbdata:
  rabbitmqdata:
  rabbitmqlog:
  sockdata:
  ssldata:
  esdata:
